{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "fetch": true,
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/prefer-stateless-function": 0,
    "max-len": ["error",{ "code":120 }]
  },
  "settings": {
      "import/resolver": {
          "node": {
            "extensions": [".js", ".android.js", ".ios.js"]
          }
      }
  },
  "plugins": ["react", "react-native"]
}
